@model IEnumerable<Page>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark mx-4" asp-area="" asp-controller="Pages" asp-action="Page" asp-route-slug="@item.Slug"><h5>@item.Title</h5></a>
    </li>
}