@model IEnumerable<Category>

@{
    ViewData["Title"] = "Quản lý danh mục";
}

<h1>Danh mục</h1>

<p>
    <a asp-action="Create">Thêm danh mục</a>
</p>
<table class="table sorting" id="categories">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                URL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Slug
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa?');" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        //Jquery
        $("table#categories tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#categories tbody").sortable("serialize");
                let url = "/admin/categories/reorder";

                //Ajax
                $.post(url, ids, function () { });
            }
        })
    </script>
}
