@model IEnumerable<Category>

<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">Tất cả sản phẩm</a>
    @foreach (var item in Model)
    {
        <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="ProductsByCategory" asp-route-categorySlug="@item.Slug">@item.Name</a>
    }
</div>